/* @import url(https://fonts.googleapis.com/css?family=Raleway); */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

/* @font-face {
    font-family: 'Sans Serif Book Medium';
    src: url('/assets/Fonts/SansSerifBookFLF.ttf') format('truetype');
} */

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-size: clamp(16px, 4px + 1vw, 22px);
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.headline {
    font-family: 'Abril Fatface', cursive;
    font-size: clamp(25px, 15px + 1vw, 35px);
    white-space: pre;
    color: #857c52;
    line-height: 12px;
    margin: 0;
}

a:active {
    color: #000;
}

.banner-wrapper1,
.banner-wrapper2,
.banner-wrapper3,
.banner-wrapper4,
.banner-wrapper5,
.banner-wrapper6,
.banner-wrapper7 {
    width: 65%;
    padding: 6vw 0;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    .banner-wrapper1,
    .banner-wrapper2,
    .banner-wrapper3,
    .banner-wrapper4,
    .banner-wrapper5,
    .banner-wrapper6,
    .banner-wrapper7 {
        width: 85%;
    }
}

@media screen and (max-width: 350px) {
    .banner-wrapper1,
    .banner-wrapper2,
    .banner-wrapper3,
    .banner-wrapper4,
    .banner-wrapper5,
    .banner-wrapper6,
    .banner-wrapper7 {
        width: 90%;
    }
}


/* font-family: 'Abril Fatface', cursive; */