/* @import url(https://fonts.googleapis.com/css?family=Raleway); */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@font-face {
    font-family: 'Sans Serif Book Medium';
    src: url('/assets/Fonts/SansSerifBookFLF.ttf') format('truetype');
}

* {
    font-family: "Sans Serif Book Medium";
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: fit-content;
    font-size: 1.7vw;
    max-width: 2000px;
    /* position: relative; */
    /* padding-bottom: 200px; */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

a:active {
    color: green
}


/* font-family: 'Abril Fatface', cursive; */