.banner-1 {
    width: 65%;
    padding: 5vw 0;
    margin: 0 auto;
    font-size: 1.7vw;
    text-align: center;
}

.banner-1 {
    display: flex;
    align-items: flex-end;
}

.banner-1 .right-img {
    width: 10%;
}

.banner-1 img {
    display: block;
    width: 100%;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

.headline {
    color: #857c52;
    font-weight: 600;
    margin: 0;
}

.middle-line {
    margin: 0 1vw;
    border-bottom: 1px solid #857c52;
    width: 20%;
}