/* Footer */

footer {
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    /* background: #f1f1f1; */
    background: #161616;
    border-bottom: 2px solid #000;
}

.text-color2 {
    color: #fff;
}

footer p {
    margin: 0;
}

.wrapper-footer {
    width: 65%;
    margin: 0 auto;
    padding: 1vw 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
}

.time,
.contact,
.social-email {
    /* margin: 0 2vw; */
    width: 18vw;
}

.time,
.contact,
.social-email p {
    font-size: 1vw;
}

.working-time,
.phone,
.address,
.facebook,
.instagram,
.email {
    display: flex;
    justify-content: flex-start;
    gap: 1vw;
    padding: 1vw 0;
}

.instagram,
.email {
    padding-top: 0;
}

.working-time,
.address {
    align-items: flex-start;
}

.phone,
.facebook,
.instagram,
.email {
    align-items: center;
}

.working-time,
.contact {
    border-right: 1px solid gray;
}

.leftIcon {
    width: 10%;
}

.leftIcon img {
    display: block;
    width: 100%;
}

.time-info,
.tel-info,
.address-info,
.fb-info,
.instagram-info,
.email-info {
    width: 100%;
}

.tel-info p,
.address-info :first-child,
.address-info :nth-child(2) {
    display: inline;
}

@media screen and (max-width: 1350px) {
    .time,
    .contact {
        font-size: 14px;
        min-width: 200px;
    }
    .social-email {
        min-width: 200px;
    }
    .social-email p {
        font-size: 13px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper-footer {
        width: 37%;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 0;
        padding: 3vw 0;
    }
    .time,
    .contact,
    .social-email {
        width: 100%;
    }
    .time,
    .contact,
    .social-email p {
        font-size: 18px;
    }
    .time .leftIcon,
    .contact .leftIcon {
        display: none;
    }
    /* .social-email .facebook .leftIcon {
        width: 2vw;
    }
    .social-email .instagram .leftIcon,
    .social-email .email .leftIcon {
        width: 3vw;
    } */
    .working-time,
    .contact,
    .social-email {
        border-right: none;
        text-align: center;
        border-bottom: 1px solid #857c52;
        margin-bottom: 10px;
    }
    .facebook,
    .instagram,
    .email {
        flex-direction: column;
        padding: 1vw 0;
    }
    footer p {
        margin: 5px;
    }
}

@media screen and (max-width: 700px) {
    .wrapper-footer {
        width: 45%;
    }
    /* .social-email .facebook .leftIcon {
        width: 3vw;
    } */
    .social-email .facebook .leftIcon,
    .social-email .instagram .leftIcon,
    .social-email .email .leftIcon {
        width: 5vw;
    }
}

@media screen and (max-width: 500px) {
    .wrapper-footer {
        width: 70%;
    }
    /* .social-email .facebook .leftIcon {
        width: 5vw;
    } */
    .social-email .facebook .leftIcon,
    .social-email .instagram .leftIcon,
    .social-email .email .leftIcon {
        width: 7vw;
    }
    .time,
    .contact,
    .social-email p {
        font-size: 14px;
    }
}

@media screen and (max-width: 350px) {
    .wrapper-footer {
        width: 85%;
    }
}


/* /Footer */